* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}
.page_container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}

.theme {
  padding: 15px 0;
}

.theme h2 {
  font-weight: 700;
}

.theme h3 {
  font-weight: 400;
  font-size: 0.7rem;
}

/*  Primary navbar */
nav.primaryNavBar ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-height: 6vh;
  background-color: lightgrey;
}

nav.primaryNavBar ul li {
  display: inline-flex;
  margin: 10px;
}

nav.primaryNavBar ul li a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: black;
  padding: 1.6vh;
}

nav.primaryNavBar ul li a:hover {
  background-color: #ffffff;
  color: #327d11;
  transition: 0.3s background-color;
  padding: 1.6vh;
}

.title {
  font-family: "Amatic SC", cursive;
  font-size: 4rem;
  text-align: center;
  padding: 30px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
}

h2 {
  padding-bottom: 10px;
}

.intro_text {
  max-width: 80%;
  margin-left: 35px;
  padding-bottom: 30px;
}

.titleImgCap {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

h3.subhead {
  text-align: left;
  padding-top: 30px;
  padding-bottom: 15px;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

img.img_mockup {
  max-width: 80%;
  border: 1px solid #85929e;
  margin-left: auto;
  margin-right: auto;
}

.img_figcaption p {
  padding-top: 10px;
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 30px;
}

.caption_links {
  margin-top: 10px;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.caption_links p {
  align-items: center;
  text-align: center;
}

footer {
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  border-top: 1px solid lightgrey;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.photo_credits {
  display: flex;
  flex-direction: row;
  border-top: 1px solid lightgrey;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 0.6rem;
  line-height: 1rem;
  padding-left: 10em;
}
.column {
  flex: 1;
}

/* Image Portfolio page styling*/
/* Secondary navbar for image portfolio page */
nav.secondaryNavBar ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

nav.secondaryNavBar ul li {
  display: inline-flex;
  margin: 10px;
}

nav.secondaryNavBar ul li a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #85929e;
}

nav.secondaryNavBar ul li a:hover {
  color: #327d11;
}

.padding_top {
  height: 2em;
}

.image_container {
  padding-bottom: 30px;
}

article.image_portfolio {
  align-items: flex-start;
  justify-items: flex-start;
}

figure.image_portfolio img {
  width: 100%;
}

.img_portfolioV {
  width: 500px;
  height: 150px;
  background-color: #327d11;
}

figcaption.img_port_caps {
  font-size: 0.8rem;
  line-height: 1.2em;
  margin-left: 0;
  text-align: left;
  padding: 10px 0;
}

p.first {
  font-size: 0.9rem;
  font-weight: 600;
  padding-bottom: 8px;
}

figcaption.img_port_caps span,
figcaption.img_port_caps a {
  font-style: italic;
}

.description_text {
  max-width: 80%;
  padding-bottom: 30px;
  font-size: 1rem;
  line-height: 1.4rem;
}

/* Animated GIF page */

img.animated_gif {
  max-width: 100%;
}
